.main {
  min-height: 100vh;
}
/*//--------------- HEader Section ------------------ // */
.header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  height: 90px;
  z-index: 1000;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  flex-flow: row wrap;
  color: white;
}
.sidebar {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.491);
  /* background-color: #6dd1a157; */
  z-index: 9999;
  transition: 0.7s;
  overflow-y: scroll;
  /* display: none; */
}
.sideContent {
  position: absolute;
  width: 70%;
  max-width: 100%;
  height: 100%;
  transition: 0.85s;
  height: auto;
  background-color: white;
  top: 0;
  right: 0;
  z-index: 999999;
  padding: 20px 40px;
  color: black;
  min-height: 100vh;
  width: 0%;
  visibility: hidden;
}
.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: black;
  font-size: 40px;
  font-weight: 200;
}
.sideContent > ol {
  width: 100%;
  margin: 70px 0;
  transition: 0.7s;
  /* position: absolute; */
  position: sticky;
  position: -ms-page;
  transition: 0.6s;
}
.sideContent > ol > li {
  transition: 0.7s;
  width: 100%;
  padding: 20px;
  height: auto;
  font-weight: bold;
  list-style-type: none;
  border-bottom: 1px solid #f1f1f3;
  display: flex;
  font-size: medium;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.7s;
}
.bars {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  right: 30px;
  display: none;
}
.header ul li {
  list-style-type: none;
  display: inline;
  margin: 0 30px;
  font-weight: 200;
  color: #fff;
  padding-bottom: 7px;
  cursor: pointer;
  transition: 0.25s;
}
.header ul li.active {
  color: #00b960;
  font-weight: bolder;
  border-bottom: 2px solid #00b960;
}
.header ul li:hover {
  padding-bottom: 5px;
  color: #00b960;
  border-bottom: 1.5px solid #00b960;
}
.header ul li:last-child {
  border: 2.5px solid #00b960;
  border-radius: 8px;
  padding: 5px 10px;
  color: #00b960;
  font-weight: bolder;
}
.logo {
  width: calc(0.17 * 500px);
  height: calc(0.17 * 500px);
  border-radius: 9px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*//--------------- Hero Section ------------------ // */
.hero {
  width: 100%;
  height: 640px;
  position: relative;
  padding-bottom: 0px;
  /* background-image: url("/images/landing3.jpg"); */
  background-size: cover;
  background-position: center;
}
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.109);
}
.hero img {
  object-fit: cover;
}

.captions {
  top: 60%;
  left: 50%;
  width: 80%;
  height: 100%;
  transform: translate(-50%, -70%);
  position: absolute;
  color: white;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  font-size: 27px;
}
.captions h1 {
  font-weight: 700;
  width: 80%;
  margin-top: 12px;
  font-size: 50px;
}
.captions p {
  font-weight: 200;
  font-size: small;
  width: 80%;
  margin-top: 20px;
  line-height: 1.3;
}

.dot {
  font-size: 55px;
  color: #00d169;
  margin-left: 2px;
}

.caption p {
  font-weight: 100;
  margin-top: 40px;
}

/*//--------------- Nominees Section ------------------ // */
.nominees {
  width: 100%;
  padding: 20px 10px;
  font-weight: bolder;
  background-color: white;
  /* background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  padding-top: 40px;
}
.nominees > h2 {
  font-size: var(--main-title-size);
  text-align: center;
}
.loadMore {
  max-width: 90%;
  width: 1100px;
  display: flex;
  flex-flow: row wrap;
  margin: 40px auto;
  justify-content: flex-end;
}
.loadMore button {
  background-color: #dac275;
  /* color: white; */
  color: black;
  outline: none;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 14px;
}
.bar {
  max-width: 90%;
  width: 1100px;
  margin: 40px auto;
  display: flex;
  flex-flow: row;
  padding: 0 25px;
  overflow-x: scroll;
  justify-content: space-between;
}
.bar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.bar > div {
  min-width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  border: 1px solid var(--brown);
  font-size: x-small;
  text-align: center;
  border-radius: 25px;
  font-weight: 300;
  transition: 0.6s;
  cursor: pointer;
  margin: 0 10px;
}
.bar > div.active {
  background-color: var(--brown);
}
.nomCards {
  width: 90%;
  display: flex;
  margin: 20px auto;
  flex-flow: row wrap;
  justify-content: center;
}
.nomCards > div {
  flex: 10%;
  margin: 10px 17px;
  height: 390px;
  min-width: 300px;
  max-width: 316px;
}
.timer {
  width: 848px;
  max-width: 100%;
  height: 480px;
  margin: 0px auto;
  position: relative;
  margin-bottom: 60px;
}
.backVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* object-fit: cover; */
  width: 100%;
  z-index: 1;
}
.nomCards > div .img {
  width: 100%;
  height: 74%;
  position: relative;
}
.nomCards > div img {
  object-fit: cover;
}
.nomCards > div .details {
  width: 100%;
  height: 26%;
  padding: 20px 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.069);
}
.nomCards > div .details b {
  display: block;
  text-align: left;
  font-size: large;
  margin-bottom: 10px;
}
.details > div {
  font-size: small;
  font-weight: 100;
}
.aboutaman {
  margin-top: 30px;
  width: 100%;
  padding: 50px 60px;
  background-color: var(--brown2);
  padding-bottom: 30px;
  height: auto;
}
.aboutaman .grids {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.aboutaman .grids > div:nth-child(2) {
  flex: 55%;
  display: flex;

  flex-flow: row wrap;
  justify-content: space-between;
}
.conc {
  position: relative;
  width: calc(0.4 * 805px);
  height: calc(0.4 * 793px);
}
.getTicks {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 25px;
  background-color: #dac275;
  color: white;
  border: none;
  outline: none;
}
.events {
  padding-left: 40px;
}
.events > div {
  margin: 40px 0;
}
.grids span {
  font-weight: 100;
}
.aboutaman .grids > div:nth-child(2) > div {
  width: 47%;
  height: 100%;
}
.aboutaman .grids > div {
  flex: 40%;
  margin: 10px 6px;
}
.aboutaman h2 {
  color: var(--aman-title);
  font-size: var(--main-title-size);
  font-weight: bolder;
  line-height: 1.4;
}
.aboutaman p {
  font-size: small;
  padding-right: 100px;
  font-weight: 100;
  margin-top: 30px;
  text-align: justify;
  color: var(--aman-title);
}
.latest {
  width: 100%;
  padding: 10px;
}
.latest h2 {
  font-size: var(--main-title-size2);
  text-align: center;
  margin: 30px;
}
.latest .grid {
  max-width: 95%;
  width: 1000px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.latest .grid > div {
  flex: 29%;
  margin: 15px 12px;
  height: auto;
  width: 331px;
  /* max-width: 331px; */
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--latest-brown);
  flex: 10%;
  min-width: 300px;
}
.latest .grid .video {
  width: 100%;
  height: 260px;
  position: relative;
}
/* .latest .grid .video img {
  object-fit: contain !important;
} */
.latest .grid .title {
  width: 100%;
  height: auto;
  padding: 20px 20px;
  color: white;
  font-weight: 100;
  font-size: small;
  text-align: center;
}
.latest .grid .title span {
  font-size: 10px;
  font-weight: 100;
  display: block;
  margin: 10px 0;
}
.latest .aman {
  background-color: var(--brown2);
  padding: 50px 10px;
  position: relative;
}
.latest .aman .right {
  position: absolute;
  top: 60%;
  font-size: 40px;
  transform: translateY(-60%);
  right: 6px;
  display: none;
  z-index: 999999;
  color: var(--aman-title);
}
.latest .aman h2 {
  font-size: var(--main-title-size);
  text-align: center;
}
.latest .aman h2 span {
  color: #dac275;
}
.latest .meet {
  width: 100%;
  margin: 20px auto;
  display: flex;
  /* height: auto; */
  /* justify-content: center; */
  overflow-x: scroll;
  flex-flow: row;
  padding: 0 20px;
}

.latest .meet::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.latest .amangrid {
  flex: 29%;
  margin: 40px 12px;
  /* height: 400px; */
  max-width: 350px;
  min-width: 320px;
  height: fit-content;
  padding: 0px 20px;
  border-right: 1px solid #dac27541;
}
.latest .amangrid:last-child {
  border-right: none;
}
.latest .amangrid .profile {
  width: 100%;
  height: calc(0.8 * 400px);
  position: relative;
  overflow: hidden;
  border-radius: 45px;
  border: 5px solid #dac275;
}
.latest .meet .title {
  width: 100%;
  height: fit-content;
  padding: 20px 20px;
  text-align: center;
  font-weight: 100;
  font-size: medium;
}
.latest .meet .title span {
  font-size: 10px;
  font-weight: 100;
  display: block;
  margin: 10px 0;
}
@media screen and (max-width: 1143px) {
  .conc {
    position: relative;
    width: calc(0.3 * 805px);
    height: calc(0.3 * 793px);
  }
}
@media screen and (max-width: 1091px) {
  .latest .meet > div {
    /* height: 380px; */
  }
  .latest .meet {
    padding: 0 5px;
    width: 100%;
  }
  .latest .amangrid {
    flex: 29%;
    margin: 40px 0px;
  }
  .bar {
    justify-content: center;
  }
  .bar > div {
    margin-top: 25px;
  }
  .nomCards,
  .latest .grid {
    justify-content: center;
  }
  .nomCards > div,
  .latest .grid > div {
    max-width: 301.3px;
  }
  .aboutaman .grids > div:nth-child(1) {
    flex: 40%;
    margin: 10px 6px;
  }
  .conc {
    /* height: 60%; */
  }
  .aboutaman p {
    padding-right: 80px;
  }
}
@media screen and (max-width: 950px) {
  .concerts {
    width: 60%;
  }
  .conc {
    width: calc(0.25 * 805px);
    height: calc(0.25 * 793px);
  }
  .events {
    width: 40%;
  }
  .aboutaman p {
    padding-right: 40px;
  }
  .events > div:first-child {
    margin-top: 0px;
  }
}
@media screen and (max-width: 896px) {
  .concerts {
    /* width: 60%;
    height: 700px !important; */
  }
  .conc {
    width: calc(0.4 * 805px);
    height: calc(0.4 * 793px);
  }
  .events > div {
    width: 100%;
  }
  /* .latest .grid > div {
    min-width: 250.5px;
    margin: 15px 12px;
    height: 310px;
    padding: 10px 20px;
  } */

  .aboutaman .grids {
    flex-flow: column wrap;
  }
  .aboutaman p {
    padding-right: 0px;
  }
  .aboutaman .grids > div {
    margin-top: 50px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 750px) {
  .aboutaman h2 {
    margin-top: 30px;
    text-align: center;
  }
  /* .latest .meet {
    justify-content: center;
  } */
  .latest .amangrid {
    /* height: 270px; */
    flex: 35%;
    max-width: 230px;
  }
  .aboutaman {
    padding: 40px 5px 20px 5px;
  }
  .concerts {
    /* width: 60%;
    height: 550px !important; */
  }
  .bars {
    display: block;
  }
  .header ul li {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .latest .grid > div {
    min-width: 250.5px;
    margin: 15px 12px;
    height: 310px;
    padding: 10px 20px;
  }
  .latest .grid .video {
    height: 70%;
  }
}
@media screen and (max-width: 650px) {
  .bar {
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin: 10px auto;
  }
  .conc {
    width: calc(0.32 * 805px);
    height: calc(0.32 * 793px);
  }
}
@media screen and (max-width: 550px) {
  /* .latest .meet {
    justify-content: center;
    flex-flow: column wrap;
  } */
  .timer {
    width: calc(0.6 * 848px);
    height: calc(0.6 * 480px);
  }
  .latest .amangrid {
    height: fit-content;
    flex: 35%;
    max-width: 100%;
    /* border-right: none; */
    /* border-bottom: 1px solid #dac27586; */
  }
  .latest .amangrid .profile {
    height: 350px;
  }
  .hero {
    height: 590px;
  }
  .header {
    padding: 0 10px;
  }
}
@media screen and (max-width: 490px) {
  .concerts {
    /* width: 60%;
    height: 460px !important; */
  }
  .latest .aman .right {
    display: block;
  }
  .conc {
    width: calc(0.3 * 805px);
    height: calc(0.3 * 793px);
  }
}
@media screen and (max-width: 450px) {
  .latest .grid > div {
    height: 310px;
  }
  .concerts {
    margin-left: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .getTicks {
    width: 100%;
    font-size: 20px;
    padding: 15px 15px;
    background-color: #dac275;
  }

  .conc {
    width: calc(0.42 * 805px);
    height: calc(0.42 * 793px);
  }
  .hero {
    height: 450px;
  }
  .dot {
    font-size: 30px;
  }
  .nomCards > div:first-child,
  .latest .grid > div:first-child {
    margin-top: 30px;
  }
  .aboutaman .grids > div:nth-child(2) {
    flex: 40%;
    margin: 10px 6px;
    flex-flow: column wrap;
  }
  .aboutaman .grids > div:nth-child(2) > div {
    flex: 100%;
    width: 100%;
    margin-bottom: 40px;
  }
  .aboutaman .grids > div:nth-child(2) > div:first-child {
    height: 410px;
  }
  .events {
    width: 100%;
  }
  .events > div {
    margin: 30px 0;
    width: 100%;
  }
  .aboutaman p {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 360px) {
  .latest .grid > div {
    height: 270px;
  }
  .conc {
    width: calc(0.27 * 805px);
    height: calc(0.27 * 793px);
  }
}
